.player-stats {
  background-color: #0a1f33;
}

.stat-box {
  background: #0f2a44;
  border-radius: 12px;
  padding: 30px 10px;
  height: 100%;
  transition: all 0.3s ease;
}

.stat-box:hover {
  transform: translateY(-6px);
  background: #12385c;
}

.stat-number {
  color: #f5a623;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 5px;
}

.stat-label {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.player-skills {
  background-color: #0a1f33;
}

.skill-progress {
  height: 8px;
  background-color: #1c3b5a;
  border-radius: 10px;
}

.skill-progress .progress-bar {
  background: linear-gradient(90deg, #f5a623, #ffcc70);
  border-radius: 10px;
}

.career-list {
  list-style: none;
  padding: 0;
}

.career-list li {
  display: flex;
  justify-content: space-between;
  padding: 18px 20px;
  background: #0f2a44;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #fff;
}

.career-list span {
  color: #ccc;
  width: 140px;
}

.career-list em {
  font-style: normal;
  color: #f5a623;
}

.player-radar {
  background-color: #0a1f33;
}

.radar-wrapper {
  height: 380px;
  padding: 20px;
  background: #0f2a44;
  border-radius: 16px;
}

.player-stat {
  color: #fff;
}

.stat-value {
  font-weight: 700;
  color: #ffff;
}

.stat-bar {
  height: 16px;
  background: #ffffff; /* bg putih */
  border-radius: 4px;
  overflow: hidden;
}

.stat-fill {
  height: 100%;
 background: linear-gradient(
    90deg,
    #E59400,
    #F5A623,
    #FFCB7D
  );
  border-radius: 4px;
  transition: width 1.2s ease-out;
}


.player-attributes h2,
.player-stats h2 {
  letter-spacing: 1px;
}

.stat-box {
  padding: 20px 10px;
  border-bottom: 2px solid #034694;
}


.radar-wrapper {
  padding: 20px;
}

